<!-- <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
    <mat-form-field>
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Assigned To</mat-label>
      <input matInput formControlName="assignedTo">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Project ID</mat-label>
      <input matInput formControlName="projectId">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Create Task</button>
  </form>
   -->